.section-order {
  background-color: #161516;
  color: #ffffff;
  /* margin-top: 80px; */
  height: 100vh;
}

.container-order {
  width: 671px;
  margin: 0 auto;
}

.header-order {
  display: flex;
  justify-content: center;
}

.header-order__title {
  padding: 53px 0 38px 0;
}

.footer-order {
  display: flex;
  justify-content: space-between;
  border-top: 1px solid #D58C51;
  padding-top: 20px;
  margin-top: 50px;
}

.footer-order__text {
  font-size: 21px;
  display: flex;
  align-items: center;
}

.footer-order__price {
  font-size: 16px;
  margin-left: 10px;
  margin-top: 8px;
  color: #D58C51;
}

.footer-order__content {
  display: flex;
  justify-content: center;
  justify-content: space-between;
  align-items: center;
}

.button {
  width: 200px;
  height: 42px;
  font-size: 14px;
  background-color: #D58C51; 
}

.footer-order__content {
  padding-bottom: 27px;
}

.header-order__back {
 width: 30px;
 height: 30px;
 margin-top: 65px;
 margin-right: 70px;
}