.container {
  width: 1300px;
  margin: 0 auto;
}

.main {
  background-color: #161516;
  color: #ffffff;
}

.header {
  margin-bottom: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px 0 0 0;
}

.menu {
  display: flex;
  flex-wrap: wrap;
  gap: 9px;
  height: calc(100vh - 118px);
  overflow-y: scroll;
  margin-top: -30px;
}

.menu::-webkit-scrollbar {
  width: 8px;
  background-color: #D58C51;
  border-radius: 8px;
}

.menu::-webkit-scrollbar-thumb {
  background-color: #be5636fa;
}

.card:hover {
  color: #D58C51;
}

.menu .card {
  width: 310px;
}

.card {
  margin-bottom: 10px;
}

.header__block {
  display: flex;
  padding-right: 20px;
}

.header__busket {
  display: inline-block;
  width: 151px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  margin-right: 20px;
}

.header__title-busket {
  margin-bottom: -15px;
}

.header__icon-busket {
  display: inline;
}

.card__block {
  height: 214px;
}

